.cursor-pointer {
    cursor: pointer;
}

.hover-dark:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}

.h1-5em {
  height: 1.5em;
  invert(80%);
  -webkit-filter: invert(80%);
}

.h280px {
  height: 280px !important;
}

.h150px {
  height: 150px !important;
}

.add-button {
  width: 0.8em;
  height: 0.8em;
  line-height: 0.8em !important;
}

.table {
  color: #fff !important;
}

.table-dark:hover {
  color: #000 !important;
}
.table-light:hover {
  color: #fff !important;
}



